@include b(footer) {
    width: 100%;
    background-color: $burn-red;
    border-top: 2px solid $white;

    @include e(paragraph) {
        font-size: 18px;
        color: $white;
        padding: 15px 0px;
        text-align: center;
    }
}
