//Colors
$black: #111;
$very-light-grey: #888;
$light-grey: #efefef;
$grey: #B3B3B3;
$dark-grey: #444;
$red: #FC354C;
$burn-red: #BB2222;
$white: #FFF;
$success-green: #11D211;
$error-red: #FF0000;
$orange: #FF3939;
$sidebar_width: 300px;
