$elementSeparator: '__';
$modifierSeparator: '--';

@function containsModifier($selector) {
    @return str-index(selectorToString($selector), $modifierSeparator);
}

@function selectorToString($selector) {
    //remove brackets
    @return str-slice(inspect($selector), 0, 0);
}

@function getBlock($selector) {
    $selector: selectorToString($selector);
    $modifierStart: str-index($selector, $modifierSeparator) - 1;
    @return str-slice($selector, 0, $modifierStart);
}
