@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';

* {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover{
    text-decoration: none;
}

button,
input[type="submit"] {
  border: 0;
  box-shadow: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.header {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgroundpicture.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-heading-group {
    width: 43%;
    margin: 175px auto;
}

.header-heading {
    color: white;
    font-size: 7.5em;
    text-align: center;
    margin: 0;
}

.header-subtitle {
    display: block;
    color: white;
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.main-section {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 40px 0 0 0;
}

.main-section-heading {
    font-size: 3.7em;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.about-me-icn {
    margin: 0px auto 35px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #444;
}

.about-me-info {
    float: left;
    width: 33%;
    margin-top: 60px;
}

.about-me-info-text {
    text-align: center;
    padding: 0px 50px;
    font-size: 18px;
}

.divider {
    width: 20vw;
    height: 3px;
    border-top: 1px solid #000;
    background-color: #5d5d5d;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.skill-wrapper {
    width: 50%;
    float: left;
    margin: 15px 0 0 0;
}

.skill-list {
    list-style-type: none;
    margin: 60px 0px 70px 0px;
}

/* Reset the default appearance */
.skill-list-progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   border: none;

   height: 35px;
   width: 70%;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skill-list-progress-bar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skill-list-progress-bar::-webkit-progress-value {
    border-radius: 5px;
    background-color: red;
    background: -webkit-linear-gradient(left, red , #a30000);
    background: -o-linear-gradient(right, red, #a30000);
    background: linear-gradient(to right, red , #a30000);
}

.skill-list-progress-bar::-moz-progress-bar {
    border-radius: 5px;
    background-color: red;
    background: -o-linear-gradient(right, red, #a30000);
    background: -moz-linear-gradient(right, red, #a30000);
    background: linear-gradient(to right, red , #a30000);
}

.skill-list-item {
    text-align: center;
    margin: 5px 0;
}

.skill-list-item-paragraph {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
}


.contact-form {
    width: 65%;
    background-color: #e2e2e2;
    margin: 40px auto 50px auto;
    overflow: hidden;
}


.form-label {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
}

.form-label:nth-child(1) {
    margin: 20px 0px 0px 0px;
}

.form-input {
    margin: 0 auto;
    display: block;
    width: 40%;
    font-size: 16px;
    font-style: italic;
    border: none;
    color: #222;
    padding: 9px 11px;
}

.form-message {
    display: block;
    font-style: italic;
    margin: 0 auto 25px auto;
    resize: none;
    padding: 9px 11px;
    border: none;
    width: 40%;
}

.form-submit {
    padding: 9px 55px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    background: #333;
}


@media screen and (max-width: 930px) {
    .about-me-info {
        width: 100%;
    }

    .about-me-info-text {
        padding: 0px 80px;
    }

    .about-me-icn {
        margin: 0px 0px 50px 0px;
    }

    .skill-left {
        width: 100%;
    }
}
